@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
* {
    font-family: 'Montserrat';
}

body {
    margin: 0 auto;
}


/* Tête de page */

header.header {
    display: flex;
    align-items: center;
    background-color: black
}

header.header img {
    width: 150px;
}

mark {
    background-color: black;
    color: white;
}

body {
    color: black;
    background-color: white;
    background-image: url(../images/italie.jpg);
    margin: 0;
}


/* Page De bienvenue */

.big-title {
    color: white;
    font-size: 80px;
    padding: 20px 50px;
}


/* Menu de navigation */

nav.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 400px;
    margin-left: 30px;
}

nav.nav li {
    color: white;
}

form {
    width: 110%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin: 20%;
}